.App {
    position: relative;
    overflow: hidden;
    background: #F5F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    z-index: 99;
}

.App > img {
    position: absolute;
}

.yellow-blob,
.blue-blob {
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -100;
}

.yellow-blob {
    background: url('./images/blob-yellow.svg') no-repeat;
    background-position: top -100px right -100px;
}

.blue-blob {
    background: url('./images/blob-blue.svg') no-repeat;
    background-position: bottom -100px left -100px;
}

button {
    background: #4D5B9E;
    color: #F5F7FB;
    border-radius: 15px;
    border: none;
    margin-top: 2rem;
    font-size: 1.5em;
    padding: 1em 2em;
    min-width: 163px;
    white-space: nowrap;
}

@media (min-width:476px) {
    .start-page{
        font-size: 18.96px;
    }
}

@media (max-width:334px) {
    .start-page{
        max-width: 50%;
        font-size: 13.36px;
    }
}